<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>sgp</display-name>
	
<servlet>
	<servlet-name>ListerCollaborateursController</servlet-name>
	<servlet-class>dev.sgp.web.ListerCollaborateursController</servlet-class>
</servlet>
	<servlet-mapping>
	<servlet-name>ListerCollaborateursController</servlet-name>
<url-pattern>/collaborateurs/lister</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>EditerCollaborateurController</servlet-name>
	<servlet-class>dev.sgp.web.EditerCollaborateurController</servlet-class>
</servlet>
	<servlet-mapping>
	<servlet-name>EditerCollaborateurController</servlet-name>
<url-pattern>/collaborateurs/editer</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AddNewCollaborateur</servlet-name>
	<servlet-class>dev.sgp.web.AddNewCollaborateur</servlet-class>
</servlet>
	<servlet-mapping>
	<servlet-name>AddNewCollaborateur</servlet-name>
<url-pattern>/collaborateurs/add</url-pattern>
</servlet-mapping>

<filter>
	<filter-name>FrequentationFilter</filter-name>
	<filter-class>dev.sgp.filtre.FrequentationFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>FrequentationFilter</filter-name>
	<url-pattern>/collaborateurs/*</url-pattern>
</filter-mapping>

<servlet>
	<servlet-name>Statistiques</servlet-name>
	<servlet-class>dev.sgp.web.WebServiceController</servlet-class>
</servlet>
	<servlet-mapping>
	<servlet-name>Statistiques</servlet-name>
<url-pattern>/collaborateurs/statistiques</url-pattern>
</servlet-mapping>

<listener>
<listener-class>dev.sgp.InitializerSessionListener</listener-class>
</listener>


</web-app>